---
import { getCollection } from 'astro:content';
import BlogButton from '../../components/BlogButton.astro';
import type { Lang } from '../../content/config';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((p) => ({
		params: { slug: p.slug },
		props: { entry: p },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const alt: Record<Lang, string> = {
	en: entry.data.alt?.en || '/blog/en/',
	hu: entry.data.alt?.hu || '/blog/hu/',
};
new Date().toDateString();

// TODO single backtick code blocks: hide backticks, add bg
---

<BaseLayout
	alt={alt}
	date={entry.data.date}
	description={entry.data.description}
	image={entry.data.image}
	lang={entry.data.lang}
	title={entry.data.title}
>
	<article
		class="prose prose-neutral mx-auto py-16 dark:prose-invert lg:prose-lg xl:prose-xl prose-a:text-sky-700 dark:prose-a:text-sky-300"
	>
		<p class="inline-flex items-center gap-3 pb-12 text-neutral-500 dark:text-neutral-400">
			<BlogButton lang={entry.data.lang} />
			 /
			<time
				class="whitespace-nowrap"
				datetime={entry.data.date.toISOString()}
			>
				{entry.data.date.toLocaleDateString(entry.data.lang)}
			</time>
		</p>
		<h1>{entry.data.title}</h1>
		<Content />
	</article>
</BaseLayout>
