---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import SeoTags from '../../components/SeoTags.astro';

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map((p) => ({
		params: { slug: p.slug },
		props: { entry: p },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout lang={entry.data.lang}>
	<SeoTags
		slot="head"
		alt={entry.data.alt}
		date={entry.data.date}
		description={entry.data.description}
		image={entry.data.image}
		lang={entry.data.lang}
		title={entry.data.title}
	/>
	<h1>{entry.data.title}</h1>
	<Content />
</BaseLayout>
