---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogButton from '../../components/BlogButton.astro';
import type { Lang } from '../../content/config';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((p) => ({
		params: { slug: p.slug },
		props: { entry: p },
	}));
}

type Props = {
	entry: CollectionEntry<'blog'>;
};
const { entry } = Astro.props;

const { Content } = await entry.render();
const { alt, date, description, image, lang, title } = entry.data;

const fixedAlt: Record<Lang, string> = {
	en: alt?.en ?? '/blog/en/',
	hu: alt?.hu ?? '/blog/hu/',
};

// TODO single backtick code blocks: hide backticks, add bg
---

<BaseLayout
	alt={fixedAlt}
	date={date}
	description={description}
	image={image}
	lang={lang}
	title={title}
>
	<div class="container mx-auto px-4 lg:px-8">
		<article
			class="prose prose-neutral mx-auto py-16 dark:prose-invert lg:prose-lg xl:prose-xl prose-a:text-sky-600 dark:prose-a:text-sky-500"
		>
			<p
				class="inline-flex items-center gap-3 pb-4 text-neutral-500 dark:text-neutral-400 lg:pb-12"
			>
				<BlogButton lang={lang} />
				 /
				<time
					class="whitespace-nowrap"
					datetime={date.toISOString()}
				>
					{date.toLocaleDateString(lang)}
				</time>
			</p>
			<h1>{title}</h1>
			<Content />
		</article>
	</div>
</BaseLayout>
