---
import { type AltLinks, blogTitle, portfolioTitle, type Lang } from '../content/config';
import CenteredContainer from './CenteredContainer.astro';
import DarkModeToggle from './DarkModeToggle.astro';
import NavLink from './NavLink.astro';

type Props = {
	alt: AltLinks;
	lite?: boolean;
	lang: Lang;
};
const { alt, lite, lang } = Astro.props;
const nextLang: Lang = lang === 'hu' ? 'en' : 'hu';
const nextUrl = alt ? alt[nextLang] : '/';
---

<div
	class:list={[
		'border-b',
		lite ? 'border-b-transparent' : 'border-b-gray-200 dark:border-b-gray-700',
	]}
>
	<CenteredContainer
		as="nav"
		class="flex items-center py-1 font-narrow tracking-wide md:py-2 md:text-lg"
	>
		{
			!lite && (
				<div class="flex items-center gap-2 md:gap-4">
					<div class="font-bold md:text-xl">
						<a href={lang === 'hu' ? '/' : `/${lang}/`}>Zsolt</a>
					</div>
					<div class="flex md:gap-2">
						<NavLink
							active={Astro.url.pathname.includes('blog')}
							href={`/blog/${lang}`}
						>
							{blogTitle[lang]}
						</NavLink>
						<NavLink
							active={Astro.url.pathname.includes('projects')}
							href={`/projects/${lang}`}
						>
							{portfolioTitle[lang]}
						</NavLink>
					</div>
				</div>
			)
		}
		<div class="ml-auto flex items-center md:gap-2">
			<NavLink
				href={nextUrl}
				icon="carbon:language"
			/>
			<DarkModeToggle />
		</div>
	</CenteredContainer>
</div>
