---
import Icon from 'astro-iconify';
import type { CollectionEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<'blog'>;
};
const { post } = Astro.props;
const { data, slug } = post;
const { date, description, lang, title } = data;
---

<article
	class="group relative flex flex-col gap-2 rounded bg-gray-100 p-4 text-gray-700 transition-colors hover:bg-blue-500 hover:text-white dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-blue-700 dark:hover:text-white"
>
	<time
		class="flex items-center gap-2"
		datetime={date.toISOString()}
	>
		<Icon
			class="h-[1em] w-[1em]"
			name="carbon:calendar"
		/>
		{date.toLocaleDateString(lang)}
	</time>
	<a href={`/blog/${slug}`}>
		<span class="absolute inset-0"></span>
		<h2
			class="text-xl font-semibold text-gray-900 transition-colors group-hover:text-white dark:text-white lg:text-2xl"
		>
			{title}
		</h2>
	</a>
	<p class="lg:text-lg">{description}</p>
</article>
