---
import type { CollectionEntry } from 'astro:content';
import { type Lang, portfolioPostLinkLabel } from '../content/config';
import Icon from 'astro-iconify';

type Props = {
	lang: Lang;
	project: CollectionEntry<'portfolio'>;
};
const { lang, project } = Astro.props;
const { data } = project;
const { description, post, title, source, year, url } = data;
---

<article>
	<header>
		<h3 class="inline-flex w-full items-center justify-between">
			<span>{title} ({year})</span>
			<span class="inline-flex gap-4">
				{
					url && (
						<a
							href={url}
							target="_blank"
						>
							<Icon
								class="h-[1.25em] w-[1.25em]"
								name="carbon:link"
							/>
						</a>
					)
				}
				{
					source && (
						<a
							href={source}
							target="_blank"
						>
							<Icon
								class="h-[1.25em] w-[1.25em]"
								name="carbon:logo-github"
							/>
						</a>
					)
				}
			</span>
		</h3>
		<p>{description[lang]}</p>
		<p>{post && <a href={post}>{portfolioPostLinkLabel[lang]}</a>}</p>
	</header>
</article>
