---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';
import type { BlogPosting, WebSite, WithContext } from 'schema-dts';
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
import { locales, type AltLinks, type Lang } from '../content/config';

const SITE_TITLE = 'Zsolt Jurányi (juzraai)';

type Props = {
	alt: AltLinks;
	date?: Date;
	description: string;
	image?: string;
	lang: Lang;
	title?: string;
};
const { alt, date, description, image, lang, title } = Astro.props;

const blogURL = new URL('/blog/', Astro.site).toString();
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const altLinks = Object.entries(alt ?? {}).map(([lang, path]) => ({
	hreflang: lang,
	href: new URL(path, Astro.site).toString(),
}));

const fullTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;

const locale = locales[lang];

let fullImage = image;
if (image && !image?.startsWith('http')) fullImage = new URL(image, Astro.site).toString();

const isPost = /blog\/\d{4}/.exec(Astro.url.pathname);
const type = isPost ? 'article' : 'website';

const websiteSchema: WithContext<WebSite> = {
	'@context': 'https://schema.org',
	'@type': 'WebSite',
	description,
	image: fullImage,
	name: fullTitle,
	headline: title,
	url: canonicalURL,
};
const blogPostSchema: WithContext<BlogPosting> = {
	'@context': 'https://schema.org',
	'@type': 'BlogPosting',
	description,
	dateCreated: date?.toISOString(),
	datePublished: date?.toISOString(),
	headline: title,
	image,
	mainEntityOfPage: {
		'@type': 'WebSite',
		url: blogURL,
	},
	name: title,
	url: canonicalURL,
};
const schema = isPost ? blogPostSchema : websiteSchema;

const isLanding = Boolean(/^\/(en\/?)?$/.exec(Astro.url.pathname));

// TODO favicon
// TODO default og:image
// TODO google analytics + cookie consent
// TODO (later) astro view transitions?
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>
		<link
			rel="canonical"
			href={canonicalURL}
		/>
		{
			altLinks.map(({ hreflang, href }) => (
				<link
					rel="alternate"
					hreflang={hreflang}
					href={href}
				/>
			))
		}
		<title>{fullTitle}</title>
		<meta
			name="description"
			content={description}
		/>
		<meta
			property="og:description"
			content={description}
		/>
		{
			image && (
				<meta
					property="og:image"
					content={fullImage}
				/>
			)
		}
		<meta
			property="og:locale"
			content={locale}
		/>
		<meta
			property="og:site_name"
			content={SITE_TITLE}
		/>
		<meta
			property="og:title"
			content={title}
		/>
		<meta
			property="og:type"
			content={type}
		/>
		<meta
			property="og:url"
			content={canonicalURL}
		/>
		{
			date && (
				<meta
					property="article:published_time"
					content={date.toISOString()}
				/>
			)
		}
		<script
			type="application/ld+json"
			set:html={JSON.stringify(schema)}
		/>

		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800&display=swap"
		/>
		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap"
		/>
	</head>
	<body class="flex min-h-screen flex-col dark:bg-gray-900s">
		<NavBar
			alt={alt}
			lite={isLanding}
			lang={lang}
		/>
		<slot />
		{!isLanding && <Footer lang={lang} />}
	</body>
</html>
