---
import CenteredContainer from '../components/CenteredContainer.astro';
import FormattedContent from '../components/FormattedContent.astro';
import PostList from '../components/PostList.astro';
import { blogTitle, type Lang } from '../content/config';
import BaseLayout from './BaseLayout.astro';

type Props = {
	description: string;
	lang: Lang;
};
const { description, lang } = Astro.props;

// TODO add OG images
// TODO (later) show tags, add client side tag filter
---

<BaseLayout
	alt={{ en: '/blog/en/', hu: '/blog/hu/' }}
	description={description}
	lang={lang}
	title={blogTitle[lang]}
>
	<CenteredContainer as="main">
		<FormattedContent
			as="header"
			class="py-16"
		>
			<h1>{blogTitle[lang]}</h1>
			<p class="lead">
				{description}
			</p>
		</FormattedContent>

		<PostList lang={lang} />
	</CenteredContainer>
</BaseLayout>
