---
import Icon from 'astro-iconify';
import CenteredContainer from '../components/CenteredContainer.astro';
import { blogTitle, type Lang, portfolioTitle } from '../content/config';
import BaseLayout from './BaseLayout.astro';

type Props = {
	lang: Lang;
	greet: string;
	name: string;
	profession: string;
	intro: string;
	title: string;
};
const { greet, name, profession, intro, lang, title } = Astro.props;

// TODO add current stack
---

<BaseLayout
	alt={{ en: '/en/', hu: '/' }}
	lang={lang}
	title={title}
>
	<CenteredContainer class="font-narrow flex">
		<div class="flex flex-col gap-4 mx-auto w-[32rem] py-8">
			<p class="font-medium text-xl text-gray-500 dark:text-gray-400">{greet}</p>
			<div>
				<h1 class="mb-2 font-semibold text-4xl">{name}</h1>
				<h1 class="font-normal text-3xl">{profession}</h1>
			</div>
			<p
				class="mb-8 text-2xl text-gray-700 dark:text-gray-300"
				set:html={intro}
			/>
			<div class="flex">
				<div class="grid grid-cols-4 gap-3 text-xl text-gray-600 dark:text-gray-400">
					{
						[
							'mysql',
							'tsnode',
							'trpc',
							'nuxtdotjs',
							'vuedotjs',
							'tailwindcss',
							'astro',
							'apachecordova',
						].map((n) => (
							<Icon
								class="h-[1.5em] w-[1.5em]"
								name={`simple-icons:${n}`}
							/>
						))
					}
				</div>
			</div>
		</div>
	</CenteredContainer>

	<nav class="pt-16">
		<a href={`/blog/${lang}`}>{blogTitle[lang]}</a>
		<a href={`/projects/${lang}`}>{portfolioTitle[lang]}</a>
	</nav>
</BaseLayout>
