---
import Icon from 'astro-iconify';
import CenteredContainer from '../components/CenteredContainer.astro';
import { blogTitle, type Lang, portfolioTitle } from '../content/config';
import BaseLayout from './BaseLayout.astro';
import LandingButton from '../components/LandingButton.astro';

type Props = {
	lang: Lang;
	name: string;
	profession: string;
	intro: string;
	title: string;
};
const { name, profession, intro, lang, title } = Astro.props;

const description = `${name} ${profession} ${intro}`.replace(/<.*?>/, ' ');

// TODO (later) add current stack... maybe just as a button -> page?
// TODO (later) would be nice to calculate year instead (useTimeAgo with custom format?)
---

<BaseLayout
	alt={{ en: '/en/', hu: '/' }}
	description={description}
	lang={lang}
	title={title}
>
	<div class="flex grow">
		<CenteredContainer class="m-auto grid gap-8 sm:grid-cols-2 sm:gap-0">
			<div
				class="prose mx-auto border-r-gray-200 px-4 dark:prose-invert md:prose-lg lg:prose-xl dark:border-r-gray-700 sm:border-r-2 sm:pr-8 sm:text-right"
			>
				<h1 class="!mb-6 font-narrow">
					<span class="font-semibold">{name}</span>
					<br />
					<small class="font-normal">{profession}</small>
				</h1>
				<h2
					class="!mt-0 font-narrow font-normal text-gray-600 dark:text-gray-400"
					set:html={intro}
				/>
			</div>
			<div class="mt-auto sm:pl-8">
				<nav class="flex w-auto flex-col gap-4">
					<LandingButton
						href={`/blog/${lang}`}
						label={blogTitle[lang]}
					/>
					<LandingButton
						href={`/projects/${lang}`}
						label={portfolioTitle[lang]}
					/>
				</nav>
			</div>
		</CenteredContainer>
	</div>
</BaseLayout>
